
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    font-family: 'Pixelify', sans-serif;

}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 50px;
    background: linear-gradient(#6fa2c2, #17394f);
}

.title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.8;
    text-align: center;
    color: #ffff;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 460px;
    line-height: 50px;
    background: #FFFF;
    border-radius: 6px;
}

.input {
    flex-grow: 1;
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    color: black;

}
.btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    width: 145px;
    height: 50px;
    background: #c44848;
    border-radius: 6px;
    transition: background-color 0.2s ease-in;
}

.btn:hover {
    background: #e80b0b;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    padding: 30px;
    width: 360px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27,108,114,0.25);
}

.card::before {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
    bottom: -10px;
    z-index: -1;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(27,108,114,0.25);
    border-radius: 6px;
}

.card-city {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    color: black;
}

.card-city span {
    display: inline-block;
    vertical-align: text-top;
    padding: 3px 5px;
    background: #e80b0b;
    border-radius: 6px;
    color: #ffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}

.card-weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-value {
    font-size: 92px;
    line-height: 1;
}

.card-value sup{
    font-size: 50%;

}

.card-desc {
    font-size: 20px;
    line-height: 1;
}

.card-img {
    width: 120px;
}

.loading-icon {
    font-size: 2rem;
    margin-right: 10px;
    color: #3498db; /* Цвет иконки загрузки */
}


/* Медиа-запрос для мобильных устройств с шириной экрана до 768px */
@media screen and (max-width: 768px) {
    body {
        row-gap: 20px; /* Уменьшаем промежуток между элементами */
    }

    .header {
        padding: 20px 10px 30px; /* Уменьшаем отступы */
    }

    .title {
        font-size: 30px; /* Уменьшаем размер заголовка */
    }

    .form {
        width: 90%; /* Уменьшаем ширину формы */
    }

    .input {
        font-size: 16px; /* Уменьшаем размер шрифта */
        line-height: 1.2; /* Уменьшаем высоту строки */
    }

    .btn {
        font-size: 18px; /* Увеличиваем размер кнопки */
        height: 40px; /* Уменьшаем высоту кнопки */
    }

    .card {
        width: 90%; /* Уменьшаем ширину карточки */
        padding: 20px; /* Уменьшаем отступы */
    }

    .card::before {
        left: 5px; /* Уменьшаем отступ слева */
        bottom: -5px; /* Уменьшаем отступ снизу */
        width: calc(100% - 10px); /* Уменьшаем ширину псевдоэлемента */
    }

    .card-city {
        font-size: 24px; /* Уменьшаем размер текста */
    }

    .card-value {
        font-size: 60px; /* Уменьшаем размер значения */
    }

    .card-desc {
        font-size: 16px; /* Уменьшаем размер описания */
    }

    .card-img {
        width: 80px; /* Уменьшаем размер изображения */
    }

    .loading-icon {
        font-size: 1.5rem; /* Уменьшаем размер иконки загрузки */
    }
}
